/* Api de fontes do Google */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}
/* Api fontes do Google */
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}
/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: rgb(226, 226, 238);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.158);
}

header > section {
    flex-flow: row wrap;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

select {
    height: 30px;
    width: 40px;  
    border: 1px inset white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.185);
    background-color: rgba(0, 0, 255, 0);
}

header > section > abbr > button, #text-color {
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 255, 0);
    border: 1px inset white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.185);
}

header > section > abbr > button, #text-color:hover {
    cursor: pointer;
    background-color: rgba(236, 236, 243, 0.849);
    transition: .5s;
}
/* Main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: rgb(236, 236, 243);
}

textarea {
    padding: 10px;
    height: 87vh;
    width: 60%;
    resize: none;
    border: none;
    box-shadow: 1px px 5px 1px rgba(0, 0, 0, 0.13);
}

textarea:focus {
    outline: none; 
    border: none;
}
/* Tela para celulares na horizontal */

@media only screen and (min-width: 480px) {
    section {
        width: 80%;
    }

    header > section > abbr > button, #text-color, select {
        height: 20px;
        width: 50px;
    }

    textarea {
        width: 80%;
    }
}
/* Tela para celulares na vertical */
@media only screen and (max-width: 479px) {

    section {
        width: 90%;
    }
    header > section > abbr > button, #text-color, select {
        height: 20px;
        width: 25px;
    }

    textarea {
        width: 90%;
    }
}
/* Tela para notebooks */
@media only screen and (min-width: 960px) {
    header > section > abbr > button, #text-color, select {
        height: 40px;
        width: 40px;
    }
}
/* Tela para computadores */
@media only screen and (min-width: 1270px) {

    section {
        width: 40%;
    }

    textarea {
        width: 60%;
    }

    select {
        height: 30px;
        width: 40px;  
        border: 1px inset white;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.185);
        background-color: rgba(0, 0, 255, 0);
    }
    
    header > section > abbr > button, #text-color {
        height: 30px;
        width: 30px;
        background-color: rgba(0, 0, 255, 0);
        border: 1px inset white;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.185);
    }
}

/* JS Estilos */

.main-dark-mode {
    background-color: rgb(27, 27, 27);
    transition: .5s;
}

.textarea-dark-mode {
    background-color: rgb(63, 63, 63);
    transition: .5s;
    color: white;
}

.header-dark-mode {
    background-color: rgb(34, 34, 34);
    transition: .5s;
    color: white;
}

.button-dark-mode {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.option-dark-mode {
    color: black;
}